{% extends 'analyser/base.html' %}
{% block title %}
Seller Home
{% endblock %}

{% load static %}

{% block content %}


<div class="container">

    <h2 align="center" style="color:#a0a0a0;"> Provision store </h2>

    <div class="container">
        <table class="table">
            <tr>
                <th>Interval</th>
                <th>Income</th>
                <th>Expenses &nbsp;</th>
                <th>Debt</th>
                <th>Credits</th>
            </tr>

            <tr>
                <td>Today</td>
                <td class="big">&#8377;{{today_income}}</td>
                <td class="big">&#8377;{{today_expenses}}</td>
                <td class="big">&#8377;{{today_debt}}</td>
                <td class="big">&#8377;{{today_credits}}</td>
            </tr>
            <tr>
                <td>This week</td>
                <td class="big">&#8377;{{week_income}}</td>
                <td class="big">&#8377;{{week_expenses}}</td>
                <td class="big">&#8377;{{week_debt}}</td>
                <td class="big">&#8377;{{week_credits}}</td>
            </tr>
            <tr>
                <td>This month</td>
                <td class="big">&#8377;{{month_income}}</td>
                <td class="big">&#8377;{{month_expenses}}</td>
                <td class="big">&#8377;{{month_debt}}</td>
                <td class="big">&#8377;{{month_credits}}</td>
            </tr>
        </table>
    </div>

    <br>
    <hr>

    <!--<section style="display:flex;">-->
    <div class="row" style="display:flex;">
        <div class="col-md-4">
            <center><b>Churn</b></center>
            Customers lost this month : 2
            <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Month', 'Churn metrics'],
          ['Jan',     11],
          ['Feb',      2],
          ['March',  2],
          ['Jul', 2],
          ['August',    2]
        ]);

        var options = {
          title: 'Customer Retention'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }

            </script>
            <div id="piechart" style="width: 300px; height: 300px;"></div>
        </div>
        <div class="col-md-4">
            <center><b>Billing</b></center>
            <br>

            <form action="{% url 'analyser:index' %}">
                <div class="form-group">
                    <label for="inputName">CustomerName</label>
                    <input type="text" class="form-control" id="inputName" value="Mr. Gupta">
                </div>

                <button type="submit" class="btn btn-default">New Transaction</button>

            </form>

        </div>
        <div class="col-md-4">
            <!--<div class="container">-->
            <div class="container" id="inventory">
                <b>Inventory Alerts:</b>
                <table>
                    <tr>
                        <td>{{ a0 }}</td>
                    </tr>
                    <tr>
                        <td>{{ a1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ a2 }}</td>
                    </tr>
                    <tr>
                        <td>{{ a3 }}</td>
                    </tr>
                </table>
                <!--</div>-->
            </div>
        </div>
    </div>


</div>


{% endblock %}