{% extends 'analyser/base.html' %}
{% block title %}
SmartKirana
{% endblock %}

{% load static %}

{% block content %}

<br>
<div class="container-fluid">
    <h1 align="center" style="color:#A0A0A0;">Provision Store</h1>

    <h2 style="color:#000080;">Mr. Gupta</h2>
    <div class="row">
        <div class="col-md-8">
                Items bought:<br>
                <table class="table" id="itemsTable">
                    <tr>
                        <th>ItemName&nbsp;&nbsp;</th>
                        <th> Price</th>
                    </tr>
                    <!-- Rows will be appended here. -->
                </table>
        </div>
        <div class="col-md-2">
            <b>Recommended Items:</b><br>
            <table >
                <tbody id="recommendedTable">

                </tbody>
            </table>
        </div>
    </div>

    <br>
    <br>

    <input type="text" class="form-control" value="Sugar" id="itemInput"/>
    <button onclick="addItem()" class="btn btn-default">Add Item</button>

</div>

<script>
    function addItem() {
        var val = $("#itemInput").val();
        console.log(val);
        $.ajax({
            method: 'POST',
            url: 'ajax/addItem',
            data: {'newItem': val},
            success: function (data) {
                 //this gets called when server returns an OK response
                console.log(data);
                var record = '<tr><td>'+ val +'</td><td>'+ data['price'] + '</td></tr>';
                $('#itemsTable').append(record);
                setRecommendations(data);
            },
            error: function (data) {
                alert("it didnt work");
            }
        });
    }

    function setRecommendations(data) {
        var currentRecommendations = $('#recommendedTable').html();
        console.log('current' + currentRecommendations);
        var line = '<tr><td>' + data['recommend'] + '</td></tr>';
        $('#recommendedTable').html(line + currentRecommendations);
    }


</script>
{% endblock %}